<center><h2>Add New Track</h2></center>    
    <div class="container">
      <form role="form" ng-submit="addTrack(x)" class="form-group" >
      <input style="height: 50px; " type="text" ng-model="x.title" class="form-control" placeholder="Enter The Title" ></input>
      <br>
      <input style="height: 50px; " type="text" ng-model="x.rating" class="form-control" placeholder="Enter The Ratings"></input>
      <br>
      <input style="height: 50px; " type="text" ng-model="x.genres" class="form-control" placeholder="Enter The Genres"></input>
      <br>
      <p align="center"><input type="submit" class="btn btn-info" value="Add"></input></p>
    </form>
    </div>